<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
#form for flight - put
<form action="http://127.0.0.1:5000/check/put" method="post">
    <p>flightID <input type="text" name="flightID" required/> </p>
    <p>TIMESTAMP <input type="text" name="TIMESTAMP" required/> </p>
    <p>REMAINMGSEATS <input type="number" name="REMAINMGSEATS" required> </p>
    <p>ORIGIONCOUNTRYID <input type="number" name="ORIGIONCOUNTRYID" required/> </p>
    <p>DESTCOUNTRYID <input type="number" name="DESTCOUNTRYID" required/> </p>
    <button type="submit"> </button>
</form>
</body>
</html>